.history-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}

.time-title-container {
  display: flex;
  font-size: 20px;
  color: #64748b;
}

@media screen and (max-width: 767px) {
  .time-title-container {
    flex-direction: column;
  }
}

.time {
  margin-right: 30px;
}

.logo-title-container {
  display: flex;
}

.domain-logo {
  margin-right: 25px;
}

.title-container {
  color: #475569;
}

@media screen and (min-width: 768px) {
  .title-container {
    display: flex;
  }
}

.title {
  color: #475569;
  margin-right: 20px;
  font-weight: 700;
}

.domain-url {
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.delete-logo {
  width: 100%;
}
